let mapleader = " "

set clipboard+=unnamedplus
set relativenumber
set number
set showmode
set so=5
set incsearch
set nu


" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map <leader>r <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <S-Space> <Action>(GotoNextError)

nmap <C-A-j> :action EditorCloneCaretBelow<CR>
nmap <C-A-k> :action EditorCloneCaretAbove<CR>

" Reformat the current line only
map <leader>l V<Action>(ReformatCode)

map <leader>o <Action>(FileStructurePopup)

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

