let mapleader = " "

set clipboard+=unnamedplus
set relativenumber
set number
set showmode
set so=5
set incsearch
set nu


" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

set scrolloff=5
set visualbell
set noerrorbells

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map <leader>r <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>e <Action>(ShowErrorDescription)

map <leader>[ <Action>(GotoPreviousError)
map <leader>] <Action>(GotoNextError)

map <leader>t <Action>(ActivateTerminalToolWindow)

nmap <C-A-j> <Action>(EditorCloneCaretBelow)
nmap <C-A-k> <Action>(EditorCloneCaretAbove)

map <leader>f <Action>(ReformatCode)

map <leader>o <Action>(FileStructurePopup)

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

