window {
    margin: 0px;
    background-color: #181818;
    border-radius: 0px;
    border: 2px solid #ffdd33;
    color: #ffdd33;
    font-family: 'Monofur Nerd Font';
    font-size: 20px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;;
    color: #e3e3e3;
    background-color: #282828;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #181818;
    color: #e3e3e3;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #181818;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e3e3e3;
} 

#entry:selected {
    background-color: #282828;
    color: #e3e3e3;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #282828;
    color: #e3e3e3;
    border-radius: 0px;;
    outline: none;
}
